# Local Development Environment (Non-Docker)
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
API_URL=http://localhost:8080
NEXT_PUBLIC_GOOGLE_AUTH_ENABLED=true

NEXT_PUBLIC_BRAND_NAME=SampleStore
NEXT_PUBLIC_BRAND_URL=https://samplestore.khoiuna.info
NEXT_PUBLIC_BRAND_EMAIL=samplestore@example.com
